.product-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  margin: 0;
  padding: 20px;
  background: white;
  text-align: center;
}

@media (min-width: 768px) {
  .product-list-header {
    justify-content: center;
  }
}

.close-btn {
  position: sticky;
  top: 0px;
  right: 0;
  background: #ff4444;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.product-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  align-items: center;
}
